<div class="card" id="<%= dom_id fornecedor %>">

  <div class="id_container">
    <p class="label">ID:</p>
    <%= fornecedor.id %>
  </div>

  <div class="field">
    <p class="label">Nome:</p>
    <%= fornecedor.nome %>
  </div>


    <div class="see_more_wrapper">
      <%= link_to "Ver Fornecedor >", fornecedor , class: "show_link", title: "Ver Fornecedor"%>
    </div>

</div>
