

<div class="page_title_container">

<h1 class="page_title">Pedidos</h1>
</div>

<%= link_to "Novo Pedido", new_pedido_path, class: "add_new_btn" %>

<div id="pedidos">
  <% @pedidos.each do |pedido| %>

    <%= render pedido %>
  <% end %>
</div>


