
<%= link_to "< Voltar", pedidos_path, class: "back_btn" %>

<%= render "pedido_details", pedido:@pedido %>

<div class="options_container">
  <%= link_to "Editar Pedido", edit_pedido_path(@pedido), class: "option_link", title: "Editar Pedido" %>  

  <%= button_to "Excluir Pedido", @pedido, method: :delete, class: "delete_btn", title: "Excluir Pedido" %>
</div>
