<div class="card" id="<%= dom_id transportadora %>">
  <div class="id_container">
    <p class="label">ID:</p>
    <%= transportadora.id %>
  </div>


  <div class="field">
    <p class="label">Nome:</p>
    <%= transportadora.nome %>
  </div>

    <div class="options_container">   
      <%= link_to "Ver Transportadora >", transportadora, class: "show_link", title: "Ver Transportadora" %>
    </div>

</div>
