<div id="<%= dom_id produto %>">


   <div class="id_container">
    <p class="label">ID:</p>
    <%= produto.id %>
  </div>

  <div class="field">
    <p class="label">Nome:</p>
    <%= produto.nome %>
  </div>


    <div class="see_more_wrapper">
     
       <%= link_to "Ver Produto >", produto, class: "show_link", title: "Ver Produto" %>
    </div>

</div>
