<div  id="<%= dom_id produto %>">

 <p class="page_title">
    <%# <strong class="label">Nome:</strong> %>
    <%= produto.nome %>
  </p>

<div class="produto_wrapper">
<p class="id_container">
    <strong class="label">ID:</strong>
    <%= produto.id %>
  </p>


  <p class="produto_field">
    <strong class="label">Descrição:</strong>
    <div class="description">
         <%= produto.descricao %>
    </div>
   
   </p>
</div>
   


</div>
