

<div class="page_title_container">
  <h1 class="page_title">Produtos</h1>
  
</div>
<%= link_to "Novo Produto", new_produto_path, class:"add_new_btn", title:"Novo Produto" %>


<div id="produtos">
  <% @produtos.each do |produto| %>
    <%= render produto %>
  <% end %>
</div>


