.form_wrapper {
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 3px;
}

.input_text {
  width: 100%;
  height: 28px;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-top: 4px;
  font-size: 14px;
  padding-inline: 12px;
}

.form_field_wrapper {
  margin-bottom: 8px;
}

#produto_descricao,
#fornecedor_descricao {
  max-width: 100%;
  min-width: 100%;
  height: 150px;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-top: 4px;
  font-size: 14px;
  padding: 12px;
}

.submit_btn {
  background-color: var(--accent-color);
  text-decoration: none;
  font-size: 12px;
  color: white;
  font-weight: 600;
  width: 150px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-right: 0;
  margin-left: auto;
  cursor: pointer;
}

.subtitle {
  font-size: 18px;
}

.add_item_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: seagreen;
  color: #ffffff;
  max-width: 110px;
  height: 22px;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 0;
  margin-right: auto;
  font-weight: 600;
}

.links {
  margin-block: 8px;
}

.remove_item_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: tomato;
  color: #ffffff;
  max-width: 110px;
  height: 22px;
  border-radius: 3px;
  font-size: 12px;
  margin-left: auto;
  margin-right: 0;
  font-weight: 600;
  padding: 0 4px;
}

.nested_fields_items {
  border-top: 1px solid #eeeeee;
  padding: 8px 0;
}

.nested_fields_emails,
.nested_fields_telefones {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.nested_fields_emails > .form_field_wrapper,
.nested_fields_telefones > .form_field_wrapper {
  gap: 0;
  width: 100%;
}

#emails,
#telefones {
  border-top: 1px solid #eee;
  margin-top: 8px;
  padding: 12px;
}
