.header {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header_wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_title {
  font-size: 18px;
}

.nav_links_container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav_link {
  text-decoration: none;
}
