#produtos {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#produtos > div {
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 16px;
  border-radius: 3px;
}

.produto_field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.see_more_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.show_product_link {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}
.label {
  font-size: 14px;
}
.id_container {
  font-size: 14px;
  margin-bottom: 4px;
}
