<%= stylesheet_link_tag "header.css" %>


<header class="header">
    <div class="header_wrapper">
       <%= link_to "Novo pedido", root_path, class:"add_new_btn", title:"Novo pedido" %> 
    </div>
</header>